<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="5.8.0-alpha0098" targetFramework="net481" developmentDependency="true" />
  <package id="Fody" version="6.6.0" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net481" version="1.0.3" targetFramework="net481" developmentDependency="true" />
</packages>